<ion-content>
  <div id="container" class="p-2">

    <ion-icon id="cerrar" name="close-circle-outline" (click)="close()"></ion-icon>

    <swiper-container space-between="30" pagination navigation loop="true" autoplay="true">
      <swiper-slide>
        <div class="caption-wrapper">
          <h1 class="caption-title">Lorem Ipsum</h1>
          <img src="https://http2.mlstatic.com/D_NQ_NP_756936-MCO51931974440_102022-O.webp" alt="Slide 1">
          <p class="caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut congue tellus.
            Integer id elit nulla. Aenean ornare efficitur arcu, at blandit lorem hendrerit convallis. Ut consequat,
            felis et consectetur euismod, ex felis imperdiet lectus, in volutpat libero diam non augue. Nulla non semper
            erat. Etiam id eleifend sem, at pretium nulla. </p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="caption-wrapper">
          <h2 class="caption-title">Lorem Ipsum</h2>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZxW9bQXtdmXedFbmxiDHH81lFlRYNocsIuZlVuAYqNDAkl9SwrHfZhk9pIRv1WWb71rE&usqp=CAU"
            alt="Slide 2">
          <p class="caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut congue tellus.
            Integer id elit nulla. Aenean ornare efficitur arcu, at blandit lorem hendrerit convallis. Ut consequat,
            felis et consectetur euismod, ex felis imperdiet lectus, in volutpat libero diam non augue. Nulla non semper
            erat. Etiam id eleifend sem, at pretium nulla.</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="caption-wrapper">
          <h2 class="caption-title">Lorem Ipsum</h2>
          <img src="https://oechsle.vteximg.com.br/arquivos/ids/13792064-1000-1000/image-15f37439d9734dbfa5aecafbb5a38512.jpg?v=638120143117870000" alt="Slide 3">
          <p class="caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut congue tellus.
            Integer id elit nulla. Aenean ornare efficitur arcu, at blandit lorem hendrerit convallis. Ut consequat,
            felis et consectetur euismod, ex felis imperdiet lectus, in volutpat libero diam non augue. Nulla non semper
            erat. Etiam id eleifend sem, at pretium nulla. </p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="caption-wrapper">
          <h2 class="caption-title">Lorem Ipsum</h2>
          <img src="https://powerpc.mx/cdn/shop/products/SillaGamerRosayLilaHomall-01_2048x.jpg?v=1688084557" alt="Slide 3">
          <p class="caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut congue tellus.
            Integer id elit nulla. Aenean ornare efficitur arcu, at blandit lorem hendrerit convallis. Ut consequat,
            felis et consectetur euismod, ex felis imperdiet lectus, in volutpat libero diam non augue. Nulla non semper
            erat. Etiam id eleifend sem, at pretium nulla. </p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>