ion-menu {
    --background: #f8e1f4; /* Fondo rosa claro */
  }
  
  ion-toolbar {
    --background: #f8b6d2; /* Color de fondo de la barra de herramientas */
    --color: #ffffff; /* Color del texto */
  }
  
  .custom-icon {
    color: #f06292; /* Color de los iconos */
  }
  
  ion-item {
    --background-hover: #fce4ec; /* Fondo rosa claro al pasar el ratón por encima */
  }
  
  ion-label {
    color: #333333; /* Color del texto */
  }
  